body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 40px;
}
.name-highlight {
  color: red;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 1%;
}
.half-width img {
  width: 100%;
  border-radius: 10px;
}
.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}

section {
  height: 500px;
  padding-bottom: 100px;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(tomato, red);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
